.width_1_8 { width: calc(100% / 8); }
.width_1_6 { width: calc(100% / 6); }
.width_1_5 { width: calc(100% / 5); }
.width_1_4 { width: calc(100% / 4); }
.width_1_3 { width: calc(100% / 3); }
.width_3_8 { width: calc(100% * (3 / 8)); }
.width_2_5 { width: calc(100% * (2 / 5)); }
.width_1_2 { width: calc(100% / 2); }
.width_2_3 { width: calc(100% * (2 / 3)); }
.width_3_5 { width: calc(100% * (3 / 5)); }
.width_5_8 { width: calc(100% * (5 / 8)); }
.width_3_4 { width: calc(100% * (3 / 4)); }
.width_5_6 { width: calc(100% * (5 / 6)); }
.width_7_8 { width: calc(100% * (7 / 8)); }
.width_1_1 { width: calc(100%); }